# Node
TZ=UTC
API_PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Object Storage
OBJECT_STORAGE_PORT=3900
GARAGE_DEFAULT_SECRET_KEY=
GARAGE_DEFAULT_ACCESS_KEY=
GARAGE_DEFAULT_BUCKET=default-bucket
GARAGE_RUST_LOG= 	#syntax is 'garage=${LOG}', with LOG=error, warn, info (default), debug and trace.

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=garage
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# API
DRIVE_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=garage # This should match the s3_region in garage.toml
S3_BUCKET=default-bucket
S3_ENDPOINT=http://localhost:${OBJECT_STORAGE_PORT}
# Session
SESSION_DRIVER=cookie

#--------------------------------------------------------------------
# CORS (configure allowed origins for API access)
#--------------------------------------------------------------------
# CORS_ORIGIN=http://localhost:5173,http://localhost:3000